{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
{% block head %}
	<title>{% block title %} Inicio {% endblock title %}</title>


	{% block static %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link type="image/x-icon" href="{% static './assets/img/logo_acopus2.jpg' %}" rel="icon">

	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

	<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
	

	<!--====== Scripts -->
	<script src="{% static 'js/sweetalert2.min.js' %}"></script>
	<script src="{% static 'js/material.min.js' %}"></script>
	<script src="{% static 'js/ripples.min.js' %}"></script>
	<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>	
	<script src="{% static 'js/main.js' %}"></script>

	<script>
      {% if messages %}
          var html_mensaje = '';
          {% for mensaje in messages %}
              html_mensaje += '{{ mensaje }}';
          {% endfor %}
          notificacionError(html_mensaje);
      {% endif %}

	$(document).ready(function() {
	    $('#bootstrapdatatable').DataTable({
		      	"aLengthMenu": [[5, 10, 25, -1], [5, 10, 25, "Todo"]],
		      	"order": false,
		        "iDisplayLength": 5, 
            language: {           	
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
              },
            },  	        
	       } 
	    );
	} );

  	</script>

	{% endblock %}
{% endblock %}

  {% block extra_css %}
  {% endblock extra_css %}

</head>

<body>

{% if user.is_authenticated %}

	<!-- SideBar -->
	<section class="full-box cover dashboard-sideBar">
		<div class="full-box dashboard-sideBar-bg btn-menu-dashboard"></div>
		<div class="full-box dashboard-sideBar-ct">


			<!--SideBar Title -->
			<div class="full-box text-uppercase text-center text-titles dashboard-sideBar-title">
				ACOPUS de R.L. <i class="zmdi zmdi-close btn-menu-dashboard visible-xs"></i>
			</div>


			<!-- SideBar User info -->
			<div class="full-box dashboard-sideBar-UserInfo">
				<figure class="full-box" onclick="location.href='{% url 'evaluacionCliente:index' %}'">
					<img src="{% static './assets/img/logo_acopus2.jpg' %}" alt="UserIcon"></figure></br>
					<figcaption class="text-center text-titles"> {{user.username}} </figcaption>
				</figure>
				<ul class="full-box list-unstyled text-center">
					<li>
						<a href="{% url 'password_change' %}">
							<i class="zmdi zmdi-settings"></i>
						</a>
					</li>
					<li>
						<a href="{% url 'usuario:logout' %}" class="btn-exit-system">
							<i class="zmdi zmdi-power"></i>
						</a>
					</li>
				</ul>
			</div>


			<!-- SideBar Menu -->
			<ul class="list-unstyled full-box dashboard-sideBar-Menu">
				
				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Usuarios <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{% url 'usuario:inicio_usuarios' %}"><i class="zmdi zmdi-account zmdi-hc-fw"></i>Administrar Usuarios</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-account-add zmdi-hc-fw"></i> Empleados <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{% url 'evaluacionCliente:listar_empleados' %}"><i class="zmdi zmdi-account-box zmdi-hc-fw"></i>Administrar Empleados</a>
						</li>

					</ul>
				</li>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-spellcheck zmdi-hc-fw"></i> Encuesta Clientes <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{% url 'evaluacionCliente:listar_encuesta' %}"><i class="zmdi zmdi-font zmdi-hc-fw"></i> Consultar Encuestas Clientes</a>
						</li>
						<li>
							<a href="{% url 'evaluacionCliente:listar_respuestas_encuesta' %}"><i class="zmdi zmdi-format-list-bulleted zmdi-hc-fw"></i>Consultar Resultados Encuesta</a>
						</li>
						<li>
							<a href="{% url 'evaluacionCliente:contestar_encuesta' %}"><i class="zmdi zmdi-check-all zmdi-hc-fw"></i> Contestar Encuestas Clientes</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-spellcheck zmdi-hc-fw"></i> Encuesta Personal <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{% url 'evaluacionCliente:listar_encuesta_personal' %}"><i class="zmdi zmdi-font zmdi-hc-fw"></i> Consultar Encuestas Personal</a>
						</li>
						<li>
							<a href="{% url 'evaluacionCliente:listar_respuestas_encuesta_personal' %}"><i class="zmdi zmdi-format-list-bulleted zmdi-hc-fw"></i>Consultar Resultados Encuesta</a>
						</li>
						<li>
							<a href="{% url 'evaluacionCliente:contestar_encuesta_personal' %}"><i class="zmdi zmdi-check-all zmdi-hc-fw"></i> Contestar Encuestas Personal</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-home zmdi-hc-fw"></i> Agencia <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{% url 'evaluacionCliente:listar_agencia' %}"><i class="zmdi zmdi-balance zmdi-hc-fw"></i> Consultar Agencia </a>
						</li>
					</ul>
				</li>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-view-list  zmdi-hc-fw"></i> Departamento <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{% url 'evaluacionCliente:listar_departamento' %}"><i class="zmdi zmdi-format-list-bulleted zmdi-hc-fw"></i>Consultar Departamento</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-accounts zmdi-hc-fw"></i> Comit&eacute; <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{% url 'evaluacionCliente:listar_comite' %}"><i class="zmdi zmdi-accounts-list zmdi-hc-fw"></i>Consultar Comit&eacute;</a>
						</li>
					</ul>
				</li>

				<li>
					<a href="#!" class="btn-sideBar-SubMenu">
						<i class="zmdi zmdi-notifications zmdi-hc-fw"></i> Actividad <i class="zmdi zmdi-caret-down pull-right"></i>
					</a>
					<ul class="list-unstyled full-box">
						<li>
							<a href="{% url 'evaluacionCliente:listar_actividad' %}"><i class="zmdi zmdi-notifications-add zmdi-hc-fw"></i> Consultar Actividades </a>
						</li>
					</ul>
				</li>

			</ul>

		</div>
	</section>
{% endif %}

{% if user.is_authenticated %}
	<!-- Content page-->
	<section class="full-box dashboard-contentPage">
{% endif %}
		<!-- NavBar -->
		<nav class="full-box dashboard-Navbar">
			<ul class="full-box list-unstyled text-right" style="background-color:#049286;">
				
{% if not user.is_authenticated %}

                <li class="pull-left">
					<a onclick="location.href='{% url 'usuario:login' %}'" class="btn-menu-dashboard"><i class="zmdi zmdi-account-circle"></i></a>
				</li>

{% endif %}

                <li class="pull-left">
					<a href="#!" class="btn-menu-dashboard"><i class="zmdi zmdi-more-vert"></i></a>
				</li>

				{% comment %} 				
				<li>
					<a href="#!" class="btn-search">
						<i class="zmdi zmdi-search"></i>
					</a>
				</li> 
				{% endcomment %}

				<li>
					<a href="#!" class="btn-modal-help">
						<i class="zmdi zmdi-help-outline"></i>
					</a>
				</li>

			</ul>
		</nav>
		
        {% block content %}

            <!-- Content page -->
            <div class="container-fluid">
                <div class="page-header">
                <h1 class="text-titles" style="color:black;"><strong>Evaluaci&oacute;n de Servicio al Cliente.</strong></h1>
                </div>
            </div>

            <div class="full-box text-center" style="padding: 30px 10px;" >

                <article class="full-box tile" onclick="window.location.href='{% url 'evaluacionCliente:contestar_encuesta' %}'">
                    <div class="full-box tile-title text-center text-titles text-uppercase">
                        Encuesta
                    </div>
                    <div class="full-box tile-icon text-center">
                        <i class="zmdi zmdi-check-all" onclick="window.location.href='{% url 'evaluacionCliente:contestar_encuesta' %}'"></i>
                        </br><small>Evaluar </small>
                    </div>
                </article>

				{% comment %}
				<figure class="full-box">
                    </br>
                    </br>
                    <img src="{% static './assets/img/logo_acopus.jpg' %}" alt="UserIcon"></figure></br>
                </figure> 
                {% endcomment %}

            </div>
        
        {% endblock content %}

{% if user.is_authenticated %}
	</section>

{% endif %}	

	<!-- Dialog help -->
	<div class="modal fade" tabindex="-1" role="dialog" id="Dialog-Help">
	  	<div class="modal-dialog" role="document">
		    <div class="modal-content">

			    <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			    	<h4 class="modal-title">Ayuda</h4>
			    </div>

			    <div class="modal-body">
			        <p>
			        	Presiona el bot&oacute;n de <strong>Evaluar</strong> del area de la Encuesta para comenzar a realizarla.
			        </p>
			    </div>

		      	<div class="modal-footer">
		        	<button type="button" class="btn btn-primary btn-raised" data-dismiss="modal"><i class="zmdi zmdi-thumb-up"></i> Ok</button>
		      	</div>

		    </div>
	  	</div>
	</div>


</body>
</html>