{% extends 'base/base.html' %}

{% block content %}
<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }
</style>

      <font face="small fonts" size="10" color="#049286">
        <h2 align="center" class="form-titulo" style ="margin-left: 5px; margin-top:20px; bg-success text-white">Cambio de Contraseña</h2>
      </font>

<hr style="width:75%; border-color:#049286; margin-botton: 2px" >

<form method="POST" class="form-signin">{% csrf_token %}

    <input name="old_password" class="form-control" placeholder="Contraseña Anterior" type="password" id="id_old_password" required="true">
    <input name="new_password1" class="form-control" placeholder="Nueva Contraseña" type="password" id="id_new_password1" required="true">
    <input name="new_password2" class="form-control" placeholder="Confirme Nueva Contraseña" type="password" id="id_new_password2" required="true">

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}

  <button class="btn btn-outline-success btn-lg btn-block" type="submit">Actualizar</button>  
</form>



{% endblock %}