  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
  

  <!--====== Scripts -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script> 

{% block content %}
<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }
</style>

  <div class="container">
    <font face="small fonts" size="10" color="#049286">
           <h1 align="center" class="form-titulo" style ="margin-left: 5px; margin-top:20px; bg-success text-white">Reestablecimiento de contraseña</h1>
    </font>
  </div>

  <hr style="width:75%; border-color:#049286; margin-botton: 2px" >
  <div style="width:70%; margin:auto;" align="center">
    <h3><b>¿Olvidaste tu contraseña?</b></h3>
    <h4 align="justify">A continuaci&oacute;n escriba su correo electr&oacute;nico asociado a su cuenta, y as&iacute; enviarle instrucciones para reestablecer la contraseña.</h4>

  </div>

<form method="POST" class="form-signin">{% csrf_token %}
    <input name="email" class="form-control" placeholder="Correo Electronico" type="email" id="id_email" required="true">
  <button class="btn btn-outline-success btn-lg btn-block" type="submit">Enviar Correo</button>  
  <button class="btn btn-outline-danger btn-lg btn-block" onclick="location.href='{% url 'evaluacionCliente:index' %}'">Cancelar</button>  

</form>

{% endblock %}