{% load static %}

{% block content %}
<body class="row justify-content-center align-items-center">

	<div class="container">
		<font face="small fonts" size="10" color="#049286">
		       <h4 align="center" class="form-titulo" style ="margin-left: 5px; margin-top:20px; bg-success text-white">Reseteo de contraseña enviado</h4>
		</font>
	</div>

	<hr style="width:75%; border-color:#049286; margin-botton: 2px" >

	<div style="width:70%; margin:auto;" align="center">
		<h3 align="justify">Le enviamos por correo electrónico instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve.</h3>

		<h3 align="justify">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</h3>
	</div>

</body>
{% endblock content %}