{% load static %}

{% block content %}
<body class="row justify-content-center align-items-center">

	<div class="container">
		<font face="small fonts" size="10" color="#049286">
		       <h4 align="center" class="form-titulo" style ="margin-left: 5px; margin-top:20px; bg-success text-white">Reseteo de contraseña completado</h4>
		</font>
	</div>

	<hr style="width:75%; border-color:#049286; margin-botton: 2px" >

	<div style="width:70%; margin:auto;" align="center">
		<h3 align="center">Su contraseña ha sido Reestablecida. Puede continuar e iniciar sesión ahora.</h3>
		
		<a href="{% url 'login' %}">Login</a>

	</div>

</body>

{% endblock content %}