{% extends 'base/base.html' %}

{% load static %}

{% block title %}
  Crear Agencia
{% endblock title %}
{% block content %}

<body class="row justify-content-center align-items-center">


    <div class="container">
    	<font face="small fonts" size="10" color="#049286">
 	       <h2 align="center" class="form-titulo" style ="margin-left: 5px; margin-top:20px; bg-success text-white">Registro de Agencias</h2>
    	</font>
    </div>

	<hr style="width:75%; border-color:#049286; margin-botton: 2px" >

	<div class="col-auto p-5 text-left " style="width:70%; margin:auto;">
		<form method="POST">
			{% csrf_token %}
			{{ agencia_form.as_p }}
			<div align="center" style ="margin-top:40px;">
				<button class="btn btn-outline-success" type="submit">Crear</button>			
	      		<button class="btn btn-outline-danger" onclick="location.href='{% url 'evaluacionCliente:listar_agencia' %}'">Cancelar</button>
			</div>
		</form>
	</div>
</body





{% endblock content %}