{% extends 'base/base.html' %}
{% load static %}

{%block title%}
  Listar Actividades
{%endblock%}

{% block content %}
	<div style="text-align:center; margin: 0 auto;">
	    <div class="container" align="center">


			<img  onclick="location.href='{% url 'evaluacionCliente:listar_empleado_correo' %}'" style ="margin-left:2px; display:inline" src="../../static/img/mensaje.png" width="90" height="70" align="right">

			<font face="small fonts" size="10" color="#049286">
				<h2 align="center" class="form-titulo" style ="margin-top:10px; bg-success text-white: display:inline">Listado de Actividades</h2>
			</font>	

		<button class="btn btn-outline-success" onclick="location.href='{% url 'evaluacionCliente:crear_actividad' %}'">Agregar</button>
	    <p></p>

	    </div>

		{% if actividades %}
		    <div class="table-responsive">
				<table id="bootstrapdatatable" class="table table-hover" style="table-layout: fixed;">
					
					<thead>
						<tr>
							<th>Nombre Actividad</th>
							<th>Fecha Realizaci&oacute;n </th>	
							<th>Agencia Responsable</th>	
							<th>Departamento Responsable</th>	
							<th>C&oacute;mite Responsable</th>	
							<th>Opciones</th>
						</tr>
					</thead>

					<tbody>
						{% for actividad in lista %}
							<tr>
								<td>{{ actividad.nombre_actividad }}</td>
								<td>{{ actividad.fecha_realizacion }}</td>	
								<td>{{ actividad.nombre_agencia }}</td>	
								<td>{{ actividad.codigo_departamento }}</td>	
								<td>{{ actividad.id_comite }}</td>	
								<td>
									<button type="button" class="btn btn-primary btn-sm tableButton"  onclick="location.href='{% url 'evaluacionCliente:editar_actividad' actividad.id_actividad %}'" style="color:white;"> Editar </button>
									<button type="button" class="btn btn-danger tableButton  btn-sm" data-toggle="modal" data-target="#a{{ actividad.id_actividad }}">Eliminar</button>
								</td>					
							</tr>

							<div class="modal fade" id="a{{ actividad.id_actividad }}" tabindex="-1"
							     role="dialog" aria-labelledBy="fm-modal-grid"
							    aria-hidden="true">
							    <div class="modal-dialog modal-lg">
							        <div class="modal-content">
								        <div class="modal-header">
								            Eliminación de {{ actividad.nombre_actividad }}
								            <button type="button" class="close" data-dismiss="modal">&times;</button>
								        </div>
							            <div class="modal-body">
									        <div class="modal-body text-center" >
									            <h3><strong>¿Realmente desea eliminar la Actividad con nombre {{ actividad.nombre_actividad }}?</strong></h3>
									        </div>							            
							            <div class="modal-footer">
											<form action="{% url 'evaluacionCliente:eliminar_actividad' actividad.id_actividad %}" method="POST">
											       {% csrf_token %}
											       <button class="btn btn-danger" data-align="right"><strong>CONFIRMAR ELIMINACIÓN</strong></button>
											</form>
							                <button class="btn btn-primary" data-dismiss="modal"><strong>CANCELAR</strong></button>
							            </div>
							        	</div>
							    	</div>
								</div>
							</div>	
							
						{% endfor %}
					</tbody>
					
				</table>
			</div>
		</div>


	{% else %}
		<h1>No existen actividades registradas</h1>
	{% endif %}


	{% block js %}

	{% endblock js %}

{% endblock content %}
